{
    admin off
}

:{$PORT} {
    # Since Caddyfile is now inside /frontend, the root is relative to that folder
    root * ./dist

    # Serve static files
    file_server

    # Handle SPA routing (redirects all non-file requests to index.html)
    try_files {path} /index.html
}