{
    admin off
}

:{$PORT} {
    # This tries the absolute path Railway uses for subfolder builds
    root * /app/frontend/dist

    file_server
    
    # Standard SPA routing
    try_files {path} /index.html
}