{
    admin off
}

:{$PORT} {
    # On Railway, the path is usually absolute from /app
    root * /app/frontend/dist

    # Serve files if they exist
    file_server

    # Fallback to index.html for SPA routing
    try_files {path} /index.html
}